<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title})}">
    <title>Lista de Pessoas Físicas</title>
</head>
<body>
<main>
<H1>Lista de Pessoas Físicas</H1>
<table>
  <thead>
  <tr>
    <th>#</th>
    <th>CPF</th>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Email</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="pessoa,seq : ${pessoasfisica}">
    <td th:text="${seq.index+1}"></td>
    <td th:text="${pessoa.cpf}"></td>
    <td th:text="${pessoa.nome}"></td>
    <td th:text="${pessoa.telefone}"></td>
    <td th:text="${pessoa.email}"></td>
    <td>
      <a th:href="@{/pessoafisica/edit/{id}(id=${pessoa.id})}" class="button">Editar</a>
      <a th:href="@{/pessoafisica/delete/{id}(id=${pessoa.id})}" class="button" onclick="return confirm('Tem certeza que deseja deletar esta pessoa?');">Deletar</a>
    </td>
  </tr>
  </tbody>
</table>
</main>
</body>
</html>