<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title})}">
  <title>Area de Compra</title>
</head>

<body>
<main>
  <h1>Area de Compra</h1>
  <form th:action="@{/produtos/area-compra/buscar}" method="get" class="row g-3 mb-4 align-items-center" role="search">
    <div class="col-md-9">
      <input class="form-control" th:name="descricao" type="search" placeholder="Pesquisar produtos..." aria-label="Search">
    </div>
    <div class="col-md-3 d-grid">
      <button class="btn btn-success" type="submit">Buscar</button>
    </div>
  </form>

  <table class="table table-hover table-bordered text-center">
    <thead class="table-primary">
    <tr>
      <th>Id</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="produto : ${produtos}">
      <td th:text="${produto.id}"></td>
      <td th:text="${produto.descricao}"></td>
      <td th:text="${produto.preco}"></td>
      <td>
        <a th:href="@{/vendas/produto/add/{id}(id=${produto.id})}" class="btn btn-success">Adicionar</a>
      </td>
    </tr>
    </tbody>
  </table>

</main>
</body>
</html>