<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title})}">
    <title>Formulário de Pessoa Jurídica</title>
</head>

<body>
<main>
<h1>Formulário de Pessoa Jurídica</h1>
<form th:action="${pessoajuridica.id} == null ? @{/pessoajuridica/save} : @{/pessoajuridica/update}" th:object="${pessoajuridica}" method="post" class="form-form">
    <input type="hidden" th:field="*{id}" />
    <label for="cnpj">CNPJ:</label>
    <input type="text" id="cnpj" th:field="*{cnpj}" placeholder="Digite o CNPJ" required />
    <label for="razaoSocial">Razão Social:</label>
    <input type="text" id="razaoSocial" th:field="*{razaoSocial}" placeholder="Digite a Razão Social" required />
    <label for="telefone">Telefone:</label>
    <input type="text" id="telefone" th:field="*{telefone}" placeholder="Digite o Telefone" required />
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" placeholder="Digite o Email" required />
    <div class="button-container">
        <button type="submit">Salvar</button>
    </div>
</form>
</main>
</body>
</html>