<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title})}">
    <title>Lista de Vendas</title>
</head>

<body>
<main>
    <h1>Lista de Vendas</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Data</th>
                <th>Total</th>
                <th>Cilente</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="venda,seq: ${vendas}">
                <td th:text="${seq.index+1}"></td>
                <td th:text="${venda.data}"></td>
                <td th:text="${venda.total}"></td>
                <td th:text="${venda.pessoa.getDadosPessoa()}"></td>
               <!-- <td th:text="${venda.pessoa.nome != null ? venda.pessoa.nome : venda.pessoa.razaoSocial}"></td>-->
                <td><a th:href="@{/vendas/detail/{id}(id=${venda.id})}" class="detail-button">Detalhes</a></td>
            </tr>
        </tbody>
    </table>
</main>
</body>


</html>