<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title})}">
    <title>Home</title>
</head>

<body>

<main>
<!--    <h3>Buscar Pessoa Física</h3>-->
<!--    <form action="/pessoafisica/buscar_nome" method="get">-->
<!--        <label for="nomeBusca">Nome:</label>-->
<!--        <input type="text" id="nomeBusca" name="nomeBusca" required>-->
<!--        <button type="submit">Buscar</button>-->
<!--    </form>-->
<!--    <hr>-->

<!--    <h3>Buscar Pessoa Jurídica</h3>-->
<!--    <form action="/pessoajuridica/buscarRazaoSocial" method="get">-->
<!--        <label for="razaoSocial">Razão Social:</label>-->
<!--        <input type="text" id="razaoSocial" name="razaoSocial" required>-->
<!--        <button type="submit">Buscar</button>-->
<!--    </form>-->

<!--    <hr>-->
<!--    <h3>Buscar Vendas Pela Data</h3>-->
<!--    <form action="/vendas/buscar" method="post" class="row g-3 mb-4" role="search">-->
<!--        <div class="col-md-5">-->
<!--            <input class="form-control" th:name="databusca" type="date" aria-label="Search" required>-->
<!--        </div>-->
<!--        <div class="col-md-2 d-grid">-->
<!--            <button type="submit">Buscar</button>-->
<!--        </div>-->
<!--    </form>-->
<!--    <hr>-->

<!--    <h3>Buscar Produto</h3>-->
<!--    <form action="/produtos/buscar_produto" method="get">-->
<!--        <label for="descricao">Descrição:</label>-->
<!--        <input type="text" id="descricao" name="descricao" required>-->
<!--        <button type="submit">Buscar</button>-->
<!--    </form>-->

<!--    <hr>-->
<!--<h1>Buscar Vendas por Cliente</h1>-->
<!--<form action="/vendas/buscarCliente" method="get">-->
<!--    <label for="clienteId">Cliente ID:</label>-->
<!--    <input type="text" id="clienteId" name="id" required />-->
<!--    <button type="submit">Buscar</button>-->
<!--</form>-->

<!--    <h1>Buscar Vendas por Cliente</h1>-->
<!--    <form action="/vendas/buscarCliente" method="get">-->
<!--        <label for="clienteNome">Cliente nome:</label>-->
<!--        <input type="text" id="clienteNome" name="nome" required />-->
<!--        <button type="submit">Buscar</button>-->
<!--    </form>-->


</main>

</body>
</html>